* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Prompt', sans-serif;
    background-color: #eae7e2;
    background-image: url(../pic/bgg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 5;
}
.name {
    height: 100%;
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 1% 0;
}
.cont_name {
    width: 50%;
    height: 100%;
}
.cont_name h1 {
    font-weight: 300;
    font-size: 55px;
    margin-left: 5%;
}
.cont_name p {
    font-size: 25px;
    margin-left: 5%;
}
.contact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    color: #6a5030;
}
.contact p {
    font-size: 30px;
}
.contact a {
    font-size: 30px;
    text-decoration: none;
    color: #6a5030;
}
main {
    position: relative;
    width: 100%;
    height: 91%;
}
.info {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.info img {
    width: 480px;
    height: 545px;
    border-color: #8b9ba7;
    border-width: 5px;
    border-style: solid;
}
.info_about {
    width: 730px;
    height: 545px;
    background-color: #eae7e2;
    border-color: #8b9ba7;
    border-width: 5px;
    border-style: solid;
}
.info_about h1 {
    margin-left: 4%;
    margin-top: 1%;
    font-size: 35px;
    padding-right: 3px;
}
.info_about p{
    margin-left: 4%;
    font-size: 20px;
    font-style: italic;
    padding-right: 3px;
}
.techn {
    margin-top: 1%;
}
li {
    margin-left: 8%;
    font-size: 19.5px;
  }
footer {
    width: 100%;
    height: 200px;
}
.connect {
    width: 90%;
    height: 100%;
    padding-left: 74%;
    margin: 0 auto;
}
.connect h1 {
    font-weight: 300;
    font-size: 20px;
    color: #3a2b18;
}
.connect input{
	width:250px;
	font-size:18px;
    color: #6a5030;
	border:0;
	border-bottom:2px solid #fff;
	padding:8px 10px;
	background:#e7ded2;
}
@media (max-width: 1410px) {
    .info {
        width: 88%;
    }
}